.coinList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.info-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(88,137,228);
}