.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(67,105,178);
    color: rgb(246,251,255);
    /* position: fixed; */
    width: 100vw;
}
.mic-set {
    display: flex;
    align-items: center;
    width: 150px;
}